<ng-container class="container">
  <h1>{{title}}</h1>

  <ng-container class="list-container">
    <!-- Renderer Container -->
      <div class="render-container control-container">
        <h2>RenderSpace</h2>
        <div class="rendering-space" (drop)=onDrop($event) (dragover)="allowDrop($event)">
         <!-- Render Controls according to the Control Dragged -->
          <div *ngIf="data === 'button'">
            <button>Click Me</button>
            <h2>Button</h2>
            <p>This is a button element</p>
          </div>

          <div *ngIf="data === 'textbox'">
            <input id="text" type="text">
            <h2>Textbox</h2>
            <p>This is a Input element</p>
          </div>

          <div *ngIf="data === 'time'">
            <h2>Time</h2>
            <label for="time">Time:</label>
            <input type="date" id="time" name="time">
          </div>
          
          <div *ngIf="data === 'header'">
            <h2>Header</h2>
          </div>
      </div>
    </div>
    <!-- Control List Container -->
    <div class="control-container">
      <div class="list">
         <!-- Control List -->
        <h2>Drag-items from the list!!</h2>
        <div *ngFor="let control of controlList">
          <div>
            <span class="list-item" draggable="true" [id]="control.controlId"
              (dragstart)="onDrag($event)">{{control.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</ng-container>